<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is a simple small CRUD project that involves users just inserting quotes that their friends have said"
    />
    <title>Sh*t My Friends Say</title>
  </head>
  <body>
    <h1>Sh*t My Friends Say</h1>
    <form action="addQuote" method="post">
      <label for="friend">Enter Friend Name: </label>
      <input type="text" name="friend" placeholder="Marcos" id="friend" />
      <label for="quote">Enter Sh*t Quote: </label>
      <textarea name="quote" id="quote" rows="1" cols="50">Deez Nuts!</textarea>
      <button type="submit">Submit</button>
    </form>
    <h2>Sh*t Quotes</h2>
    <ul>
      <% for(const quote of quotes){ %>
      <li>
        <span><%= quote.friend %></span> -
        <span><%= quote.quote %></span>
      </li>
      <% } %>
    </ul>
  </body>
</html>
